<div class="container-fluid">
  <div
    id="carouselExampleDark"
    class="carousel carousel-fade carousel-dark slide h-400 w-600"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div
        class="carousel-item carousel-image bg-img-1 rounded active"
        data-bs-interval="3000"
      ></div>
      <div
        class="carousel-item carousel-image bg-img-2 rounded"
        data-bs-interval="2000"
      ></div>
      <div class="carousel-item carousel-image bg-img-3 rounded">
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <hr  class="text-light"/>
  <div class="row text-center">
    <h1 class="text-light mb-4">Our Prime Services</h1>
  </div>
  <div class="container mb-4">
    <div class="row">
      <div class="col-4 bg-dark ">
        <div class="card bg-dark border text-light">
          <h4 class="card-header text-center">All Sizes Matter</h4>
          <div class="card-body text-center ">
            <p class="card-text">
              The best part of being human is that we are uniquely different. We
              come in all shapes and sizes; So, every design we make, is always
              available in all size . Everything we create is created with love,
              style, and equality.
              <br>
              <a href="#" class="btn btn-primary mt-2">Learn More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-4 bg-dark">
        <div class="card bg-dark border text-light">
          <h4 class="card-header text-center">Fast Delivery Services</h4>
          <div class="card-body text-center">
            <p class="card-text">
              We understand you crave that everyone wants the best services to
              deliver their products That's why we prioritize fast turnaround
              times on all orders. The moment you place your order, our
              dedicated team swings into action, meticulously processing and
              shipping it out ASAP.
            </p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-4 bg-dark">
        <div class="card bg-dark border text-light">
          <h4 class="card-header text-center">Top Quality Fabric</h4>
          <div class="card-body text-center">
            <p class="card-text">
              credits its origin to a simple yet industry disrupting
              realization,
              <strong
                >"Quality should never be a privilege". We Synthesize the best
                of both worlds;</strong>
              Quality, Fashionable apparel that does not form craters in your
              wallet.
            </p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="text-light">

<div class="container">
  <h2 class="text-light text-center">FAQ's</h2>
</div>
<div class="container ">
  <div class="accordion" id="accordionFlushExample">
    <div class="accordion-item bg-dark  text-light">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          What is your return policy?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Our return policy allows you to return items within 30 days of receipt for a full refund or exchange. Items must be returned in their original condition, with all tags and packaging intact. To initiate a return, please visit our Returns Center on our website and follow the instructions provided. Once we receive your returned item, we will process your refund or exchange within <strong></strong>5-7 business days. Please note that return shipping costs are the responsibility of the customer, unless the item was damaged or defective upon arrival.
        </div>
      </div>
    </div>
    <div class="accordion-item bg-dark  text-light">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          How can I track my order?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">After placing an order, you will receive an order confirmation email with a tracking number once your order has been shipped. You can use this tracking number on our website under the "Track My Order" section to get real-time updates on the status of your delivery. If you have an account with us, you can also log in to your account to view your order history and tracking information. If you encounter any issues with tracking your order, please contact our customer service team for assistance.</div>
      </div>
    </div>
    <div class="accordion-item bg-dark  text-light">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          What payment methods do you accept?
        </button>
      </h2>
      <div id="flush-collapseThree" class=" accordion-flush collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">We accept a variety of payment methods to make your shopping experience as convenient as possible. These include major credit cards <strong>(Visa, MasterCard, American Express, Discover), debit cards, PayPal, Apple Pay, Google Pay, and store gift cards</strong>. For your security, all transactions are encrypted, and we do not store your payment information on our servers. If you experience any issues during the payment process, please reach out to our customer support team for assistance.</div>
      </div>
    </div>
  </div>
</div>


